body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f6fa;
}

/* login page */
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.login-image {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  object-position: center;
}

.customheading {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #6495ed;
}

.customlabel {
  color: #199bcc;
  font-weight: 500;
}

.custombutton {
  color: white;
  background-color: #199bcc;
  font-weight: 400;
}

.custombutton:hover {
  color: white;
}

/* base page */

.content-shift {
  margin-left: 250px; /* Adjust based on your sidebar width */
}

.navbar-shift {
  margin-left: 250px; /* Adjust based on your sidebar width */
}

/* .sidebar {
  background: white;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 5px;
} */

.fixed-sidebar {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px; /* Adjust the width as needed */
  z-index: 1000; /* Ensure it's above other content */
  overflow-y: auto; /* Allows scrolling if the content is too tall */
  border-radius: 5px;
}

@media (max-width: 768px) {
  .fixed-sidebar {
    display: none; /* Hide the sidebar below md screen size */
  }

  .content-shift {
    margin-left: 0;
  }

  .navbar-shift {
    margin-left: 0;
  }

  .navbar {
    width: 100%; /* Ensure navbar takes full width on smaller screens */
  }
}

/* .content {
  margin-left: 250px;
  width: calc(100% - 250px);
  display: flex;
} */

/* .navbar {
  background: white;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
} */

.fixed-navbar {
  position: fixed;
  top: 0;
  width: calc(100% - 250px); /* Adjust width to account for sidebar */
  z-index: 1050;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  height: 56px;
  left: 250px; /* Offset by sidebar width */
  border-radius: 5px;
}

.outlet {
  margin-top: 4.5rem;
  overflow-y: auto;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.mobile-sidebar-overlay {
  animation: slideInFromLeft 0.3s forwards;
}

.mobile-sidebar-overlay.hidden {
  animation: slideOutToLeft 0.3s forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.mobile-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  z-index: 1050;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  animation: slideInFromLeft 0.3s forwards;
}

.mobile-sidebar-overlay.hidden {
  animation: slideOutToLeft 0.3s forwards;
}
/* 
.mobile-sidebar {
  background: red;
  width: 75%;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
} */

.customheading2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
}

.spancontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customicon {
  font-size: 25px;
  font-weight: bolder;
  color: blue;
}

.icontext {
  font-weight: 400;
  padding-left: 10px;
}

.signoutbtn {
  text-align: center;
}

.customtag {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}

.customtag:hover {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.bi-list,
.bi-caret-down-fill {
  font-size: 18px;
  font-weight: bold;
  background-color: transparent !important;
}

.username {
  color: black;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.userrole {
  font-size: 15px;
  color: gray;
  padding: 0;
  margin: 0;
}

.badge {
  position: relative;
  top: -10px;
  left: -25px;
  color: white;
  background-color: red;
  border-radius: 50%;
}

.bi-bell {
  color: blue;
  font-size: 20px;
  font-weight: bolder;
}

@media (min-width: 570px) {
  .btn-responsive {
    display: none !important;
  }
}

.sidebar li.active {
  border-radius: 8px;
  background-color: #48a2e1;
  color: white;
}

.sidebar li.active a,
.sidebar li.active a:hover {
  color: white;
}
.sidebar li a {
  color: blue;
}

@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: absolute;
    min-height: 100vh;
    z-index: 1;
  }
  #side_nav.active {
    margin-left: 0;
  }
}

.profilelink a,
a:hoover {
  text-decoration: none;
}

.toast-container {
  z-index: 1055;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
}

.customfiltertoast {
  z-index: 1060;
  margin-top: 5rem;
}

/* employee dashboard */
.tablist {
  background: white;
}

.nav-link {
  color: black !important;
  font-size: 16px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-item .nav-link.active {
  border-bottom: 3px solid blue;
}

.custon-h6 {
  color: #4b6390;
  font-weight: bold;
}

.employeediv {
  background: white;
}

.textheading {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.textsubheading {
  font-size: 15px;
  color: blue;
  padding: 0;
  margin: 0;
}

/* profile page */
.stats {
  padding-top: 10px;
  padding-bottom: 20px;
}

.upper-user-container {
  position: relative;
}

.upper {
  height: 6rem; /* Adjust as needed */
  background: #199bcc;
}

.user {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divider {
  border-top: 5px solid #ccc;
  margin-right: 20px;
  margin-left: 20px;
}

.detailhead {
  color: gray;
  font-weight: 500;
}

.detailtail {
  font-weight: 500;
}

@media (min-width: 576px) {
  .permission {
    padding-left: 1.5rem;
  }
}

.permissionheading {
  color: blue;
  background: white;
  padding-left: 20px;
  border-bottom: 3px solid blue;
}

.permissiondetails {
  background: white;
}

/* tour advance */

.form-label {
  color: #03b3fa;
  font-weight: 500;
}

.textwithbtn {
  color: #03b3fa;
  padding-top: 5px;
  padding-left: 5px;
}

/* finance dashboard */
.cardheading {
  font-weight: 900;
}

.c-details {
  color: #718ebf;
  font-weight: bolder;
}

.dashboardicon1 {
  width: 40px;
  height: 40px;
  color: #ffbb38;
  background-color: #fff5d9;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.dashboardicon2 {
  width: 40px;
  height: 40px;
  color: #396aff;
  background-color: #e7edff;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.dashboardicon3 {
  width: 40px;
  height: 40px;
  color: #ff82ac;
  background-color: #ffe0eb;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.dashboardicon4 {
  width: 40px;
  height: 40px;
  color: #16dbcc;
  background-color: #dcfaf8;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.bargraph {
  height: 10rem;
}
@media (min-width: 768px) {
  .bargraph {
    height: 15rem;
  }
}
@media (min-width: 992px) {
  .bargraph {
    height: 20rem;
  }
}

/* requested advance */
.filterdiv {
  border: 1px solid #928aa2;
  border-radius: 5px;
}

.bi-three-dots-vertical {
  font-size: 20px;
}

.dataheading {
  font-size: 13px;
  font-weight: bold;
  color: #25213b !important;
}

.dataheading1 {
  font-size: 13px;
  font-weight: bold;
}

.datasubheading {
  color: #6e6893;
  padding-top: 2px !important;
}

.dataheading,
a {
  text-decoration: none;
  color: #6e6893;
}

/* input type file */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.file-names {
  margin-top: 10px;
  background: #e9ecef;
  border-radius: 3px;
}

.file-names.padded {
  border: 1px solid #d4d9de;
  padding: 10px;
}

.file-name {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.remove-icon {
  margin-left: 10px;
  cursor: pointer;
  color: red;
}

/* loginout message */
.login-success-toast {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  animation: slideIn 0.5s ease-out;
  z-index: 1050;
  background: #b6f0d6;
  border-bottom: 5px solid #01a845;
}

/* error message toast */
.error-message-toast {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  animation: slideIn 0.5s ease-out;
  z-index: 1050;
  background: #f9dddb;
  border-bottom: 5px solid #f83c2f;
}

/* loading page */
.spinner-border {
  position: fixed;
  top: 50%;
  left: 55%;
}

@media (max-width: 768px) {
  .spinner-border {
    position: fixed;
    top: 50%;
    left: 50%;
  }
}

.preview-btn {
  border-radius: 10px;
  color: white;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.my-dialog-box {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 55%;
  padding: 20px;
  box-shadow: 1px 1px rgb(220, 217, 217);
}

/* approve dialog */
.customdialog {
  border-top: 10px solid #ffc800;
}

.btn-close {
  color: white !important; /* Set text color to white */
}

.customcheckbox {
  width: 20px;
  height: 20px;
}
